.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 1rem;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.7rem;
  }
  
  .nav-links a:hover {
    background: #e70032;
    border-radius: 5px;
    color: #f3f3f3;
  }
  
  .nav-links a:active,
  .nav-links a.active {
    background: #db0030;
    border-radius: 5px;
    color: #f3f3f3;
  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  
    .nav-links li {
      margin: 1rem;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .nav-links button {
      cursor: pointer;
      border: 1px solid #da133e;
      border-radius: 5px;
      color: #f3f3f3;
      background: #da133e;
      width: 100px;
      padding: 0.7rem;
      font: inherit;
    }
    
    .nav-links button:hover {
      background: #e71341;
      border-radius: 5px;
      color: #f3f3f3;
    }
    .nav-links button:active
    .nav-links button.active {
      background: #db0030;
      border-radius: 5px;
      color: #f3f3f3;
    }
  }
  